html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide {
    display: none !important;
}

.car, .enemy {
    width: 50px;
    height: 100px;

    background: url(./image/player.png) no-repeat center  / cover;  

    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    z-index: 10;
}

.enemy {
    transform: none;
    background: url(./image/enemy2.png) no-repeat center / cover;
}

.gameArea {
    width: 300px;
    position: relative;
    height: 100vh;
    background: #222;
    margin: 0 auto;
    overflow: hidden
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2
}

.start {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30%;
    height: 50px;
    border-radius: 10em;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    border: 1px solid #193130;
    cursor: pointer;
    font-family: sans-serif;
    background: #3a8682;
    color: #fff;
    transition: 1s;
}

.start:hover {
    background: #173130;
}

.score {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30%;
    height: 50px;
    border-radius: 10em;
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    border: 1px solid #193130;
    cursor: pointer;
    font-family: sans-serif;
    background: #222;
    color: #fff;
    transition: 1s;
}